
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模板引擎</title>
    <link href="/static/style.css" rel="stylesheet"></link>
</head>

<body>
<div class="wrap">
    <h1>
        我是模板引擎
    </h1>
    <div>
        姓名：<%=name%>
    </div>
    <div>
        年龄：<%=age%>
    </div>


</div>
</body>
</html>